<h1>Add Doses</h1>

<%= simple_form_for @dose, url: cocktail_doses_path do |f| %>
  <%= f.input :description %>
  <%= f.association :cocktail %>
  <%= f.association :ingredient %>
  <%= f.button :submit %>
<% end %>
